<strong>Ol치, {{ deliverymanName }}</strong>
<p>H치 uma encomenda cancelada:</p>
<p>

  <strong>Produto:</strong> {{ product }} <br/>

  <p>Destinat치rio:</p>
  <strong>Cliente:</strong> {{ RecipientName }} <br/>
  <strong>Local:</strong> {{ street }}, {{ number }} <br/>
  <br/>
  <small>
   Atente-se para melhorar nas pr칩ximas entregas
  </small>
</p>
