<strong>Olá, {{ deliverymanName }}</strong>
<p>Há uma nova encomenda disponível para retirada:</p>
<p>

  <strong>Produto:</strong> {{ product }} <br/>

  <p>Destinatário:</p>
  <strong>Cliente:</strong> {{ RecipientName }} <br/>
  <strong>Local:</strong> {{ street }}, {{ number }} <br/>
  <br/>
  <small>
   Retire a encomenda o mais rápido possivel.
  </small>
</p>
